@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}


.config {
    width: 80%;
}

.combo-config {
    margin-top: 10rem;
    width: 80%;

}