@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    font-family: 'Noto Sans Thai', sans-serif;
}

.extendable-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    @extend .extendable-column-center;
    width: 100%;
    height: 100%;
}

.column-center {
    @extend .extendable-column-center;
    margin: 0rem 0 5rem 0;
}


.config {
    width: 80%;
}

.banner {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

@media screen and (min-width: 100px) {
    .banner {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1222px) {
    .config {
        width: 50%;
    }
}